# Ignore local/transient files for stable EAS upload
node_modules/
.expo/
.expo-shared/
android/.gradle/
android/.gradle/**
android/app/build/
android/build/
.git/
.gitignore
npm-debug.log*
yarn-debug.log*
yarn-error.log*
